# Millennium x WICC Project
### Authors: Hermione Bossolina, Jasmine Samadi, Lauren Jun, Jarin Rahman

**Goals:** With a goal of understanding the influx of Artificial Intelligence and Machine Learning jobs and increased salaries and its potential correlation with: Increased News Coverage and Stock prices.

### Table of Contents
- [Loading In Data](#load_data)
- [Sentiment Analysis](#sentiment_analysis)

In [8]:
import pandas as pd
import numpy as np

### Loading the Data <a name = "load_data"></a>

In [5]:
ai_ml = pd.read_csv("salaries.csv")

Looking at the head of the AI ML dataset.

In [12]:
ai_ml.head()

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2023,EN,FT,Data Scientist,100000,USD,100000,US,100,US,M
1,2023,MI,FT,Machine Learning Engineer,45000,EUR,48585,IT,100,GB,M
2,2023,MI,FT,Data Analyst,142000,USD,142000,US,0,US,M
3,2023,MI,FT,Data Analyst,128000,USD,128000,US,0,US,M
4,2023,SE,FT,ETL Developer,99500,USD,99500,US,0,US,M

In [26]:
print(ai_ml.columns)

Index(['work_year', 'experience_level', 'employment_type', 'job_title',
       'salary', 'salary_currency', 'salary_in_usd', 'employee_residence',
       'remote_ratio', 'company_location', 'company_size'],
      dtype='object')

To understand what is in each column
- [Work Year](#work_year)
- [Experience Level](#experience_level)
- [Employment Type](#employment_type)
- [Job Title](#job_title)
- [Salary](#salary)
- [Salary Currency](#salary_currency)

In [28]:
ai_ml['salary_currency']

0       USD
1       EUR
2       USD
3       USD
4       USD
       ...
7361    USD
7362    USD
7363    USD
7364    USD
7365    INR
Name: salary_currency, Length: 7366, dtype: object

In [33]:
np.table(ai_ml['salary_currency'])

AttributeError: module 'numpy' has no attribute 'table'

In [37]:
ai_ml.salary_currency.value_counts()

salary_currency
USD    6640
EUR     308
GBP     278
INR      50
CAD      35
AUD      10
PLN       7
SGD       6
CHF       5
BRL       4
JPY       4
DKK       3
TRY       3
HUF       3
THB       2
NOK       2
ILS       1
HKD       1
ZAR       1
PHP       1
MXN       1
CLP       1
Name: count, dtype: int64

In [29]:
ai_ml['salary_in_usd']

0       100000
1        48585
2       142000
3       128000
4        99500
         ...
7361    412000
7362    151000
7363    105000
7364    100000
7365     94665
Name: salary_in_usd, Length: 7366, dtype: int64

KeyError: ('salary_in_usd', 'salary_currency')

### Sentiment Analysis <a name = "sentiment_analysis"></a>